@charset "utf-8";

/* all */
body, div, ul, li, dl, dd, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {margin:0; padding:0;}

/* font */
body, textarea, input, button, select, table {
    font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    color: #222;
}

/* li tag */
li {
    list-style: none;
}

/* a tag */
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #2698cb;
}

/* h tag */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
}

/* image replace */
.ir {
    text-indent: -999%;
    line-height: 0;
}

